<% layout('layouts/boilerplate') %>


<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST" class="validated-form" enctype="multipart/form-data" novalidate>
      
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="campground[title]" value="<%= campground.title%>" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please enter a valid title.
        </div>
      </div>


      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" id="location" name="campground[location]" value="<%= campground.location%>" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please enter a valid location.
        </div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input type="text" class="form-control" id="price" aria-label="Amount (to the nearest dollar)" aria-describedby="price-label" value="<%= campground.price%>" name="campground[price]" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter a valid price.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="campground[description]" required><%=campground.description%></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please enter a valid description.
        </div>
      </div>

      <div class="">
        <label class="form-label">Upload Images</label>
        <div class="form-file custom-file">
          <input class="form-control custome-file-input" type="file" id="image" name="image" multiple>
          <label for="image" class="form-label custome-file-label"></label>
        </div>
      </div>

      <div class="form-label">Delete Images: </div>
      <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
        <% campground.images.forEach( (image, idx) => { %>
          <div class="col">
            <div class="card">
              <img class="card-img" src="<%= image.url %>" alt="">
              <div class="card-img-overlay text-end pt-1 pe-2">
                <label for="image-<%= idx %>" class="visually-hidden">Delete Image</label>
                <input type="checkbox" class="form-check-input" name="deleteImages[]" value="<%= image.filename %>" id="image-<%= idx %>">
              </div>
            </div>
          </div>
        <% }) %>
      </div>

      <button class="btn btn-success mb-3">Update Campground</button>
    </form>
    <a href="/campgrounds/<%= campground._id%>" class="btn btn-primary">Back to <%= campground.title%></a>  
  </div>
</div>

